body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#landingDiv{
    background-color: #b7c5df;
    z-index: -25;
    width: 100%;
}

#initNavBar {
    position: relative;
    top: 0;
    width: 98%;
    color: #01205b;
    padding-bottom: 0;
    margin-bottom: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#logo {
    width: 15%;
    height: auto;
}

#name {
    font-size: 2rem;
    color: #01205b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#socials {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.icon {
    width: 60px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(9%) sepia(81%) saturate(745%) hue-rotate(190deg) brightness(89%) contrast(94%);
    transition: transform 0.2s;
    
}

#github {
    width: 57.2px;
    margin-top: -4px
}

.icon:hover {
    transform: scale(1.1);
}


#textDiv{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    color: #160758;
}

#devup {
    font-size: 300px;
    margin-top: 50px;
    z-index: 5;
    user-select: none;
}

#devnup {
    font-size: 300px;
    margin-top: -100px;
    margin-bottom: -50px;
    user-select: none;
    z-index: 0;
}

#tempImg {
    position: absolute;
    margin-left: 0%;
    margin-top: 12%;
    width: 800px;
    z-index: 1;
}

#introSection {
    height: 850px;
}

#intro {
    margin-left: 5%;
    font-size: 46px;
    margin-bottom: -15px;
    color: #01205b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#intro2 {
    margin-left: 5%;
    font-size: 26px;
    color: #01205b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #01205b;
    color: white;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    color: white;
}

#navbar a:hover {
    color: #9e9fa1;
}

#navbar #leftNavDiv {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
}

#navbar #rightNavDiv {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
    padding-right: 2%;
}


#navbar.visible {
    opacity: 1;
    pointer-events: auto;      
}

#navlogo {
    width: 6%;
    height: auto;
}


